#paulette-image {
  height: 300px;
  width: 300px;
  margin-top: 0;
  border-radius: 50%;
  border: 2px solid #00ffff;
  margin-left: 75px;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
}

.pill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.pill {
  background-color: #eaf9ad;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #333131;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 600px){
  .pill-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  }

}
