#paulette-image {
  height: 300px;
  width: 300px;
  margin-top: 0;
  border-radius: 50%;
  border: 2px solid #00ffff;
  margin-left: 75px;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
}

.pill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 20px;
  margin: 0;

}

.pill {
  background-color: #eaf9ad;
  border-radius: 10px;
  padding: 30px;
  font-size: 50px;
  margin: 10px;
  line-height: 1.2rem;
  color: #333131;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}



@media (max-width: 600px){
  .pill-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  }

  .pill{
    font-size: 50px;
    margin: 2px;
    padding: 8px;
    border-radius: 5px;
  }

  .pill-icon{
    font-size: 35px;
  }

}
