/*About-Me-Card */
#paulette-image {
  height: 300px;
  width: 300px;
  margin-top: 0;
  border-radius: 50%;
  border: 1px solid #00ffff;
  margin-left: 75px;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
}

ul {
  list-style-type: none;
  font-size: 20px;
  margin: 4px 2px;
  color:#e9f6b6;
}

.about-me-card .col{
  margin-right: 0px;
  margin-bottom: 0px;
}
/*End */
