.primary-link {
  display: inline-block;
  border-radius: 3px;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #808080;
  border: 3px solid var(--ascent-color);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.primary-link:hover {
  background-color:  var(--ascent-color);
  color: black;

}





.fa-envelope{
  color: var(--ascent-color);
}

.social{
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

.social-icons {
  color: #B19CD9 !important;
  padding: 10px;
  font-size: 50px !important;
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.social-icons:hover{
  background-color: rgba(0, 0, 0, 0.37);

}

.social {
  display: flex;
  justify-content: center;
}

.social div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.label {
  margin-top: 2px;
  font-size: 14px;
  text-align: center;
}
