.primary-link {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  background: #1f1f1f;
  border-radius: 10px;
  border: 1px solid var(--ascent-color);
  padding: 30px;
  text-decoration: none;
  color: var(--ascent-color);
  font-family: "Lato", sans-serif;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.primary-link:hover {
  color: var(--link-color);
  background: var(--ascent-color);
  transition: background 1s;
}

.primary-link:active {
  box-shadow:
    7px 6px 28px 1px rgba(85, 210, 238, 0.746);
  transform: translateY(4px);
  /* Moving button 4px to y-axis */
}

.fa-envelope{
  color: var(--ascent-color);
}

.social{
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

.social-icons {
  padding: 10px;
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.social-icons:hover{
  background-color: rgba(0, 0, 0, 0.37);

}

.social {
  display: flex;
  justify-content: center;
}

.social div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.label {
  margin-top: 2px;
  font-size: 14px;
  text-align: center;
}
