footer {
  margin-bottom: 0px;
  width: 100%;
  height: 80px;
  color: black;
  background: 	#B19CD9;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 0px;
  position: relative;
  bottom: 0px;
  font-size: 25px;
}

#link a {
  text-decoration: none;
  color: black ;
  padding-bottom: 30px;
}
#link a:hover {
  color: #808080;
}
