.card {
  text-align: center;
  background-color: #000000;
  border: 3px solid #00ffff;
  margin: 10px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.project-video:hover{
  filter: brightness(60%);
}



.modal-title{
  color:var(--ascent-color);
  font-weight: bolder;
  font-size: 25px;
}

.modal-dialog{
  padding-top: 100px;
  color:#ffffff;
}

.modal-content{
  background-color: #000000;
}

.modal-footer{
  font-size: 25px;

}

.modal-footer i{
  color: #00ffff;
}

.modal-footer i:hover{
  color: #09d9d9;
}

.popup__close{
  color: #00ffff;
  font-size: 25px;
}

.popup__close:hover{
  color: #09d9d9;
}

.fa-rectangle-xmark{
  padding-left: 350px;
  color: #00ffff;
  font-size: 25px;
}

.fa-rectangle-xmark:hover{
  color: #09d9d9;

}


/* The Modal (background) */
.modal-button {
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 3px aqua;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid aqua;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  background: #0b0b0b;
}
[id^=modal] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
[id^=modal]:target {
  display: block;
}
input[type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
}
.popup {
  width: 100%;
  height: 100%;
  z-index: 99999;

}
.popup__overlay {
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000b3;
}
.popup__wrapper {
  position: fixed;
  z-index: 9;
  width: 80%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 58px 32px 32px 32px;
  background: rgb(40, 40, 40);
}
.popup__close {
  position: absolute;
  top: 16px;
  right: 26px;
  overflow: initial;
}
/*end */

@media (max-width: 900px){
  .fa-rectangle-xmark{
    padding-left: 150px;
  }

}
