
.col{
  margin-right: 180px;
  margin-bottom: 40px;
}

.card{
  width: 26rem;
  text-align: center;
}

.modal-dialog{
  padding-top: 100px;
  color:white;
}

.modal-content{
  background-color: black;
}

.modal-footer a {
  color: #00ffff;
}

.btn-close{
  background-color: #00ffff;
}

.cards-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
