.project__card {
  opacity: 0;
}

.project__card {
  background-color: #454749;
  padding: 1rem;
  border-radius: 1rem;
  color: #FAFAFA;
  border: 2px solid var(--ascent-color);
  flex: 1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.card__image {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  max-width: 100%;
  height: 300px;
}

.fa-brands,
.fa-solid {
  color:#B6D0E2;
  margin-left: 10px;
  font-size: 30px;
}

.fa-eye{
  color:#454749;
}

.fa-github:hover{
  color:#71787d;
}

.fa-circle-info:hover{
  color:#71787d;
}

.btn{
  background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
  color: rgb(27, 27, 27);
}

.btn:hover{
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  color: rgb(27, 27, 27);
}

.tech{
  color: rgb(149, 142, 142)
}
