/* Projects */
 /* .card-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */



.col{
  margin-right: 180px;
  margin-bottom: 40px;
}

.card{
  width: 26rem;
  text-align: center;
}

.modal-dialog{
  padding-top: 100px;
  color:white;
}

.modal-content{
  background-color: black;
}

.btn-close{
  background-color: aqua;
}
