.switch input {
  display: none;
}



.switch {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 65px;
  height: 35px;
  background: #4d4d4d;
  border-radius: 20px;
  padding: 0 2px;
  transition: none;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.slider {
  display: flex;
  align-items: center;
  width: 30px;
  height: 23px;
  background: white;
  border-radius: 100px;
  transition: none;
  border: 1px solid transparent;
  z-index: 1000;
}

.icon {
  display: block;
  position: absolute;
  transition: none;
  font-size: 30px;
}

.en {
  left: 2px;
  opacity: 1;
}

.sp {
  right: 2px;
  opacity: 1;
}

.switch:hover .slider, .switch:focus .slider {
  border: 1px solid #4d4d4d;
  box-shadow: 0 0 2px 3px #07f9e5;
}

.switch:active .slider {
  box-shadow: 0 0 5px 5px #07f9ed;
}

.switch input:checked+.slider {
  transform: translateX(26px);
}

.switch input:checked~.en {
  opacity: 1;
}

.switch input:checked~.sp {
  opacity: 0;
}
