/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* CSS Components */
@import url("components/navbar.css");
@import url("components/h2animation.css");
@import url("components/button.css");
@import url("components/about_card.css");
@import url("components/footer.css");
@import url("components/modal.css");
@import url("components/loading.css");
@import url("components/toggle-button.css");
@import url("components/project_cards.css");
@import url("components/on_scroll_animation.css");




:root {
  --primary-color: #ffffff;
  --secondary-color: #cdc7d9;
  --ascent-color: 	#B19CD9;
  --link-color: #000000;
  --background-color: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}


/* Global CSS */

a{
  text-decoration: none;
  color:#B19CD9
}

a:hover{
  color: #937cbc;
}


.container1{
  padding-top: 100px;
  padding-left:80px;
}

html {
  overscroll-behavior-y: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );

}

body{
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}


h1,
h2,
h3 {
  font-family: "Italiana", serif;
  text-align: center;
}

h1 {
  font-size: 80px;
  color: var(--ascent-color);

}

h2 {
  font-size: 60px;
  color: var(--primary-color);

}

h3 {
  font-size: 30px;
}


p {
  line-height: 1.7;
  font-size: 25px;
  padding: 20px 10px;
  margin: 10px;
  color: var(--background-color);
}

/* .star {
  position: fixed;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 3px white, 0 0 6px white, 0 0 9px white, 0 0 12px white;
  animation: twinkle 2s linear infinite;
} */

.container {
  color: var(--primary-color);
}

.banner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -1
}



.banner-description {
  position: absolute;
  padding: 200px;

}


.banner-video-wrapper {
  height: 100vh;
  display: flex;
}




#work,
#projects,
#contact,
#about-me {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(132, 130, 130);
}



#paragraph-style-1 {
  padding-left: 60px;
  padding-right: 500px;
  text-align: left;
  color: var(--primary-color);
}

#paragraph-style-2 {
  padding-left: 300px;
  padding-right: 300px;
  color: var(--primary-color);
}



#tech{
  color: #EAF9AD;
  margin-bottom: 10px;
  margin-top: 30px;
  text-shadow: 2px 2px 1px rgb(80, 78, 78);
}

#work-description {
  font-size: 20px;
}

.experience{
  padding: 20px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

#rights {
  margin-top: 80px;
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
}

form {
  width: 60%;
  margin: 0 auto;


}

.form-control {


  border: 3px solid var(--ascent-color);

}


#senderName, #SenderMessage, #senderEmail{
  color: white;
}



/* Responsiveness */

@media (max-width: 330px) {
  .container .card .imgContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-img-top {
    object-fit: cover;
  }

  .card{
    width: 21rem;
  }


}

@media (max-width: 500px) {
  .card-img-top {
    object-fit: cover;
  }


  .card {
    width: 21rem;
  }
}


@media (max-width: 700px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .welcome {
    font-size: 45px !important;
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #paragraph-style-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: left;
  }

  #paragraph-style-2 {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
    }


  .paragraph-style-3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }


  #paulette-image {
    height: 200px;
    width: 200px;
  }

  .about-me-card p {
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-me-card li {
    font-size: 16px;
  }

  .about-me-card h5 {
    font-size: 16px;
    padding-left: 20px;
    padding-right:20px;
  }

  #tech{
    font-size: 30px;
    margin-bottom: 0;
  }

  .button{
    padding: 15px;
    font-size: 16px;
  }
  .experience{
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
  }

  #healthpocket {
    object-fit: fill;
  }

  #work,
  #projects,
  #contact,
  #about-me {
    font-size: 45px;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .primary-link{
    padding: 15px;
  }

  form {
    width: 70%;
  }


  #contact-me i {
    font-size: 16px;
  }

  footer {
    padding-top: 25px;
    font-size: 15px;
  }

  .card{
    width: 21rem;
  }

}

@media (max-width: 900px){
.welcome {
  font-size: 50px;
  text-align: center;
}


.banner-description {
top: 150px;
padding: 0;
position: static;
overflow: hidden;
  }

.banner-video-wrapper {
height: 70vh;
width: 100vw;
object-fit: cover;

}

.banner {
  position: relative;

}













#paulette-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#paragraph-style-1 {
  padding-left: 60px;
  padding-right: 320px;
  text-align: left;
  color: var(--primary-color);
}

#paragraph-style-2 {
  padding-left: 300px;
  padding-right: 300px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

#paragraph-style-3{
  margin-top: 0;
}

.card {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container1{
  padding-top: 80px;
  padding-left:0;
}


.social {
  font-size: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.social div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.btn{
  padding: 10px;
}

.fa-eye{
  font-size: 20px;
}

#footer__linkedin{
  font-size: 20px;
}

#footer__github{
  font-size: 20px
}


}
