/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* CSS Components */
@import url("components/navbar.css");
@import url("components/h2animation.css");
@import url("components/button.css");
@import url("components/about_card.css");
@import url("components/footer.css");
@import url("components/modal.css");

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #cdc7d9;
  --ascent-color: #00ffff;
  --link-color: #000000;
  --background-color: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

html.md-perspective {
	height: auto;
	overflow: auto;
}

.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

html.md-perspective body {
  -webkit-perspective: none;
  -moz-perspective: none;
  perspective: none;
}

/* Global CSS */

a{
  text-decoration: none;
  color:#00ffff
}

a:hover{
  color: #abb9b9;
}

.logo {
  max-width: 40px;
}
.container1{
  padding-top: 100px;
  padding-left:80px;
}

html {
  overscroll-behavior-y: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );

}



/*
  background: linear-gradient(-45deg, rgba(59,173,227,1) 0%,
  rgba(87,111,230,1) 25%,
  rgba(152,68,183,1) 51%,
  rgba(255,53,127,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */


body{
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
}


h1,
h2,
h3 {
  font-family: "Italiana", serif;
  text-align: center;
}

h1 {
  font-size: 80px;
  color: var(--ascent-color);

}

h2 {
  font-size: 40px;
  color: var(--primary-color);

}

h3 {
  font-size: 30px;
}


p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 20px 10px;
  margin: 10px;
  color: var(--background-color);
}



.container {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}


#work,
#projects,
#contact,
#about-me {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

#paragraph-style-1 {
  padding-left: 60px;
  padding-right: 500px;
  text-align: left;
  color: var(--primary-color);
}

#paragraph-style-2 {
  padding-left: 300px;
  padding-right: 300px;
  color: var(--primary-color);
}

.paragraph-style-3 {
  padding-left: 100px;
  padding-right: 100px;
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

#work-description {
  font-size: 20px;
}

.experience{
  padding: 20px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

#rights {
  margin-top: 80px;
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
}

form {
  width: 60%;
  margin: 0 auto;

}

.form-control {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  border: 1px solid #00ffff;
}


#senderName, #SenderMessage, #senderEmail{
  color: white;
}





/* Responsiveness */

@media (max-width: 330px) {
  .container .card .imgContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }

  .card{
    width: 21rem;
  }


}

@media (max-width: 500px) {
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }


  .card {
    width: 21rem;
  }
}


@media (max-width: 700px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .welcome {
    font-size: 45px !important;
    text-align: center !important;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #paragraph-style-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: left;
  }

  #paragraph-style-2 {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
    }


  .paragraph-style-3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }


  #paulette-image {
    display: block;
    text-align: center;
    margin-left: 90px !important;
    height: 200px;
    width: 200px;
  }

  .about-me-card p {
    font-size: 16px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-me-card li {
    font-size: 16px;
  }

  .about-me-card h5 {
    font-size: 16px;
    padding-left: 20px;
    padding-right:20px;
  }

  .experience{
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
  }

  #healthpocket {
    object-fit: fill;
  }



  #work,
  #projects,
  #contact,
  #about-me {
    font-size: 45px;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  form {
    width: 70%;
  }


  #contact-me i {
    font-size: 15px;
  }

  footer {
    padding-top: 25px;
    font-size: 12px;

  }

  .card{
    width: 21rem;
  }

}

@media (max-width: 900px){
.welcome {
  font-size: 50px;
  text-align: left;
}

#paulette-image {
  height: 200px;
  width: 200px;
  /* margin-top: 20px; */
  border-radius: 50%;
  margin-left: 50px;
  text-align: center;
  /* margin-bottom: 20px; */
}

#paragraph-style-1 {
  padding-left: 60px;
  padding-right: 320px;
  text-align: left;
  color: var(--primary-color);
}

#paragraph-style-2 {
  padding-left: 180px;
  padding-right: 180px;
  font-weight: bold;
  color: var(--primary-color);
}

#paragraph-style-3{
  margin-top: 0;
}

.card {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container1{
  padding-top: 80px;
  padding-left:0;
}



}
