:root {
  --primary-color: #d2d605d0;
  --secondary-color: #cdc7d9;
  --ascent-color: #ffffff;
  --link-color: #92ede1;
  --background-color: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --box-shadow: 0 5px 10px #bf9553;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--background-color);
  color: var(--primary-color);
}

section {
  min-height: 50vh;
}

h1,
h2,
h3 {
  font-family: "Italiana", serif;
  text-align: center;
}

h1 {
  font-size: 100px;
  color: var(--ascent-color);
}

h2 {
  font-size: 40px;
  color: var(--primary-color);
}

h3 {
  font-size: 30px;
}

p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  padding: 20px 10px;
  margin: 10px;
  color: var(--background-color);
}

.container {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}
/* Navbar CSS */

.navbar {
  margin: 0 !important;
  width: 100%;
  top: 0px;
}

.navbar-custom {
  background-color: #d2d605;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}

a.nav-link {
  letter-spacing: 0.1em;
  font-size: 30px;
}

nav .navbar-nav li a {
  color: black !important;
}

nav .navbar-nav li a:hover {
  color: grey !important;
  transition: ease-in 0.3s;
}

.nav-item {
  padding: 0 5px;
}

.navbar-collapse {
  text-align: center;
  justify-content: center;
}

a.nav-link {
  position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.nav-button {
  padding: 5px 10px;
  border-radius: 5px;
  background: black;
  color: #d2d604;
  box-shadow: 2px black;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 5px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
}

.nav-button:hover {
  background: #808080;
  color: #d2d605;
  transition: ease-in 0.3s;
}

.container {
  font-family: "Lato", sans-serif;
}

/* Projects */
.card-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  width: 310px;
  height: 240px;
  margin-bottom: 0px;
  background: #000000;
  box-shadow: 1px 1px 1px #d2d605;
}

.card-title {
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.image-flip {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 120px;
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform-perspective: (1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.frontside {
  -webkit-transform-rotatey: (0deg);
  -ms-transform-rotatey: (0deg);
  z-index: 2;
}

.backside {
  color: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.backside p {
  font-size: 20px;
  margin-top: 0px;
  text-align: left;
}

.backside i {
  color: #d2d604;
  font-size: 30px;
}

.backside i:hover {
  color: #92ede1;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: fill;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
  mask-image: linear-gradient(black, transparent);
}

.card-img-overlay {
  text-align: center;
  margin-top: 80px;
  color: white;
  padding: 0px;
}

/* End */

/*Intro */

.welcome {
  font-size: 100px;
  font-weight: 800;
  color: var(--ascent-color);
  text-align: left;
}

#h2-greeting {
  font-size: 30px;
  margin-bottom: 30px;
}

.yellow {
  color: var(--primary-color);
}
/*End */

/*About-Me-Card */
#paulette-image {
  height: 400px;
  width: 400px;
  margin-top: 0;
  border-radius: 50%;
  margin-left: 150px;
  text-align: center;
  margin-bottom: 20px;
}

h5 {
  font-family: "Italiana", serif;
}

ul {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 22px;
}
/*End */

#work,
#projects,
#contact,
#about-me {
  font-size: 80px;
}

.paragraph-style-1 {
  padding-left: 110px;
  padding-right: 500px;
  text-align: left;
  font-weight: 800;
  color: #d2d605;
}

#paragraph-style-2 {
  padding-left: 300px;
  padding-right: 300px;
  font-weight: bold;
  color: #d2d605;
}

.paragraph-style-3 {
  padding-left: 80px;
  padding-right: 80px;
  color: #d2d605;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#work-description {
  font-size: 20px;
}

/*Buttons and Links */

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  display: inline-block;
  text-align: center;
  background: #1f1f1f;
  box-shadow: 2px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.primary-link:hover {
  color: #000000;
  background: var(--primary-color);
  transition: background 1s;
}

/*End */

#rights {
  margin-top: 80px;
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
}

form {
  width: 60%;
  margin: 0 auto;
}

#rights {
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
}

/*Footer */
footer {
  width: 100%;
  height: 100px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  background-color: #d2d604;
}

footer {
  position: relative;
  padding-top: 25px;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background-color: inherit;
}
footer::before {
  right: 100%;
}
footer::after {
  left: 100%;
}

#link a {
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
}
#link a:hover {
  color: #808080;
}

#contact a {
  color: black;
  text-decoration: none;
  font-size: 40px;
}
#contact a:hover {
  color: #808080;
}
#contact-me i {
  font-size: 40px;
  color: black;
  border-radius: 50%;
  padding: 5px 10px;
}
#contact-me i:hover {
  color: #808080;
}

/*End */

@media (max-width: 330px) {
  .container .card .imgContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .navbar-nav {
    text-align: center;
  }

  .welcome {
    font-size: 50px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    font-size: 16px;
  }

  .paragraph-style-1 {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
  }

  #paragraph-style-2 {
    padding: 20px;
    text-align: center;
  }

  .paragraph-style-3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  #paulette-image {
    display: block;
    text-align: center;
    margin-left: 90px;
    height: 200px;
    width: 200px;
  }

  .about-me-card p {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-me-card li {
    font-size: 16px;
  }

  .about-me-card h5 {
    font-size: 16px;
  }

  #work,
  #projects,
  #contact,
  #about-me {
    font-size: 45px;
  }

  .image-flip {
    margin-bottom: 20px;
    margin-right: 350px;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  footer {
    padding-top: 15px;
    font-size: 12px;
    height: 70px;
    font-weight: bolder;
  }

  #contact-me i {
    font-size: 15px;
  }

  form {
    width: 70%;
  }
}
